<HTML>
<HEAD>
    <link rel="icon" href="data:;base64,=">
    <TITLE>H.O.M.E</TITLE>
</HEAD>
<BODY>
    <DIV align="center">
        <H1>Home Online Monitoring Environment</H1>
        <HR>
        <a href="dashboard" style="font-size: 40px; text-decoration: none">Weather dashboard</a>
        <BR>
        <a href="wind" style="font-size: 40px; text-decoration: none">Wind station dashboard</a>
        <BR>
        <a href="power" style="font-size: 40px; text-decoration: none">Power data dashboard</a>
    </DIV>
</BODY>
</HTML>
