<HTML>
    <HEAD>
        <TITLE>H.O.M.E. - {{param1}}/{{param2}} for {{period}}</TITLE>
    </HEAD>
    <BODY>
        <H1 align="center">{{period}} data for {{param1}}/{{param2}}</H1>
        <TABLE>
            <TR>
                <TD>{{ offline_fig1|safe }}</TD>
                <TD>{{ offline_fig2|safe }}</TD>
            </TR>
        </TABLE>
        <DIV align="center">
            <form action="/compare_page" method="post" id="page_selector">
                <b>First param:</b>
                <select name="param1" form="page_selector">
                    <option value="temperature_in">Temperature in</option>
                    <option value="temperature_out">Temperature out</option>
                    <option value="humidity_in">Humidity in</option>
                    <option value="humidity_out">Humidity out</option>
                    <option value="pressure">Atmospheric pressure</option>
                    <option value="dew_point">Dew point</option>
                </select>
                <b>Second param:</b>
                <select name="param2" form="page_selector">
                    <option value="temperature_in">Temperature in</option>
                    <option value="temperature_out">Temperature out</option>
                    <option value="humidity_in">Humidity in</option>
                    <option value="humidity_out">Humidity out</option>
                    <option value="pressure">Atmospheric pressure</option>
                    <option value="dew_point">Dew point</option>
                </select>
                <b>Period:</b>
                <select name="period" form="page_selector">
                    <option value="day">Hour</option>
                    <option value="day">Day</option>
                    <option value="week">Week</option>
                    <option value="month">Month</option>
                    <option value="year">Year</option>
                    <option value="week_average">Week average</option>
                    <option value="month_average">Month average</option>
                    <option value="year_average">Year average</option>
                    <option value="week_night_average">Week night average</option>
                    <option value="month_night_average">Month night average</option>
                    <option value="year_night_average">Year night average</option>
                    <option value="week_day_average">Week night average</option>
                    <option value="month_day_average">Month night average</option>
                    <option value="year_day_average">Year night average</option>
                </select>
                <input type="submit" name="submit" value="Show new data">
                <BR>
            </form>
        </DIV>
    </BODY>
</HTML>